xml-resources/jaxb/ArrayOfCoin/coin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://schemas.datacontract.org/2004/07/Crypto_SOAP.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="ArrayOfCoin">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Coin">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="Code"/>
                            <xs:element type="xs:integer" name="CirculatingSupply"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>